name: Fetch and Save Data

on:
  schedule:
    - cron: '0 8 * * 1-5' # Every weekday at 8am
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  fetch_data:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./docs
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '19'

      - name: Install dependencies
        run: npm install

      - name: Fetch and save data
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_GITHUB }}
        run: node fetchAndSaveData.js

      - name: Check for failed jobs
        id: check_failed_jobs
        run: |
          if grep -q '"conclusion": "failure"' data.json; then
            echo "failed_jobs=true" >> $GITHUB_ENV
            # Count failed jobs
            FAILED_COUNT=$(jq '[.data[].jobs[] | select(.conclusion == "failure")] | length' data.json)
            echo "FAILED_COUNT=$FAILED_COUNT" >> $GITHUB_ENV
            
            # Create a file with the failed jobs list for the Slack message
            echo "*Failed Jobs:*\n" > failed_jobs.txt
            jq -r '.data[].jobs[] | select(.conclusion == "failure") | "\n• \(.repo_name)/\(.head_branch): \(.name)\n  Repository: \(.repo_name)\n  Job ID: \(.id)\n  Failed at: \(.started_at) (Duration: \(.duration/1000)s)\n  URL: \(.url)\n  <\(.url)|View Job Details>"' data.json >> failed_jobs.txt
            
            # Create a separate file with just the repository and job ID information for OEL
            echo "Failed Jobs Summary:\n" > failed_jobs_summary.txt
            jq -r '.data[].jobs[] | select(.conclusion == "failure") | "• Repository: \(.repo_name), Job ID: \(.id)"' data.json >> failed_jobs_summary.txt
            FAILED_JOBS_SUMMARY=$(cat failed_jobs_summary.txt | tr '\n' ' ' | sed 's/  / \\n /g')
            echo "failed_jobs_summary=$FAILED_JOBS_SUMMARY" >> $GITHUB_ENV
          else
            echo "failed_jobs=false" >> $GITHUB_ENV
          fi

      - name: Prepare Slack message
        if: ${{ env.failed_jobs == 'true' }}
        id: slack-message
        run: |
          # Escape special characters for JSON
          FAILED_JOBS=$(cat failed_jobs.txt | sed 's/"/\\"/g' | tr '\n' ' ' | sed 's/  / \\n /g')
          echo "message=$FAILED_JOBS" >> $GITHUB_OUTPUT

      - name: Notify slack
        if: ${{ env.failed_jobs == 'true' }}
        uses: slackapi/slack-github-action@v1.24.0
        with:
          payload: |
            {
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":robot_face: <@${{ env.OEL_SLACK_ID }}> Investigate the failures.\n\n${{ env.failed_jobs_summary }}\n\nUse this information to identify specific jobs and repositories. Make sure to anotate proper persons."
                  }
                },
                {
                  "type": "divider"
                },
                {
                    "type": "text",
                    "text": ""⚠️ There are ${{ env.FAILED_COUNT }} failing pipeline jobs!",
                    "emoji": true
                },
                {
                  "type": "header",
                  "text": { "type": "plain_text", "text": "⚠️ Pipeline failures detected", "emoji": true }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*There are ${{ env.FAILED_COUNT }} failing pipeline jobs!*\nPlease check the pipelines: <https://tyktechnologies.github.io/qa-automation-utils/|qa-automation-utils>"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "${{ steps.slack-message.outputs.message }}"
                  }
                },
                {
                  "type": "divider"
                },
                
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
          OEL_SLACK_ID: U09T5KRLMPU
          ILIJA_SLACK_ID: U3PA24R0Q
          LAURENTIU_SLACK_ID: U3QNEPT6K
          BURAK_SLACK_ID: U02P6G92FDJ
          LEO_SLACK_ID: U3P2L4XNE

      - name: Commit and push changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add data.json
          git commit -m "Update data.json [skip ci]" || exit 0
          git push