name: Fetch and Save Data

on:
  schedule:
    - cron: '0 8 * * 1-5' # Every weekday at 8am
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  fetch_data:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./docs
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '19'

      - name: Install dependencies
        run: npm install

      - name: Fetch and save data
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_GITHUB }}
        run: node fetchAndSaveData.js

      - name: Check for failed jobs
        id: check_failed_jobs
        run: |
          if grep -q '"conclusion": "failure"' data.json; then
            echo "failed_jobs=true" >> $GITHUB_ENV
            # Count failed jobs
            FAILED_COUNT=$(jq '[.data[].jobs[] | select(.conclusion == "failure")] | length' data.json)
            echo "FAILED_COUNT=$FAILED_COUNT" >> $GITHUB_ENV
            
            # Extract failed jobs information
            echo "FAILED_JOBS_LIST<<EOF" >> $GITHUB_ENV
            jq -r '.data[].jobs[] | select(.conclusion == "failure") | "• \(.repo_name)/\(.head_branch): \(.name)\n  Failed at: \(.started_at) (Duration: \(.duration/1000)s)\n  <\(.url)|View Job Details>"' data.json >> $GITHUB_ENV
            echo "EOF" >> $GITHUB_ENV
          else
            echo "failed_jobs=false" >> $GITHUB_ENV
          fi

      - name: Notify slack
        if: ${{ env.failed_jobs == 'true' }}
        uses: slackapi/slack-github-action@v1.24.0
        with:
          payload: |
            {
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": "⚠️ There are ${{ env.FAILED_COUNT }} failing pipeline jobs!"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "Please check the pipelines: <https://tyktechnologies.github.io/qa-automation-utils/|link>"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*Failed Jobs:*\n${{ env.FAILED_JOBS_LIST }}"
                  }
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK

      - name: Commit and push changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add data.json
          git commit -m "Update data.json [skip ci]" || exit 0
          git push